@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: #edf0f1;*/
}

body {
    background-color: #212121;
}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #010202;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background: transparent;
    background-color: #06923E;
}

.blow_header {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 50px 20px;
    background-color: #D3ECCD;
    justify-content: space-between;
}

.icons{
    display: flex;
    
}

.icons i {
    padding: 10px;
    color: #010202;
    font-size: 20px;
}

.icons i:hover {
    color:#E67514;
    transition: all 0.3s ease-in-out 0s;
}

.imgs {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.img-1 {
    flex: 50.33%;
    padding: 60px;
}

.img-3 {
    flex: 50.33%;
    padding: 60px;   
}

.news-letter {
    display: flex;
    justify-content: center;
    padding: 50px;
}

form {
    border: 3px solid #050505;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    padding: 20px;
    background-color: #E67514;
}

 form input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;

} 

.container input[type=submit] {
    background-color: #06923E;
    color: white;
    border: none;
    cursor: pointer;
    
    transform: rotate(2deg);
}

.container input[type=submit]:hover {
    background-color: #3e8e41;
    transition: all 0.3s ease-in-out 0s;
}

.container input[type=submit]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.img-1, .img-3 p {
    color: white;
}
.img-2 p {
    color: white
}
/* nav{
    justify-content: center;
} */

.blow_header input[type=text]{
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* .blow_header.icons i {
    float: left;
} */
.logo {
    cursor: pointer;
}

.nav_links a{
    text-decoration: none;
}

.nav_links li{
    display: inline-block;
    padding: 8px 20px;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #E67514;
}

footer {
    background-color: #06923E;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    list-style: none;
    display: flex;
}

.footer-links i {
    padding: 10px;
    color: #010202;
    font-size: 20px;
}
.footer-links i:hover {
    color:#E67514;
    transition: all 0.3s ease-in-out 0s;
}

.about-list {
    list-style: none;
    display: block;
    line-height: 2em;
    font-size: 15px;
}

.about-list li {
    font-size: small;
}
.PS-list {
    list-style: none;
    display: block;
    line-height: 2em;
    font-size: 15px;  
}

.PS-list li {
    font-size: small;
}
h3 {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .item1 {grid-area: 1 / span 6;}
  .item2 {grid-area: 2 / span 6;}
  .item3 {grid-area: 3 / span 6;}
  .item4 {grid-area: 4 / span 6;}
  .item5 {grid-area: 5 / span 6;}
}

@media only screen and (min-width: 600px) {
  .item1 {grid-area: 1 / span 6;}
  .item2 {grid-area: 2 / span 1;}
  .item3 {grid-area: 2 / span 4;}
  .item4 {grid-area: 3 / span 6;}
  .item5 {grid-area: 4 / span 6;}
}

@media only screen and (min-width: 768px) {
  .item1 {grid-area: 1 / span 6;}
  .item2 {grid-area: 2 / span 1;}
  .item3 {grid-area: 2 / span 4;}
  .item4 {grid-area: 2 / span 1;}
  .item5 {grid-area: 3 / span 6;}
}
